// TODO: Add correct styling for headers https://coolors.co/palette/22577a-38a3a5-57cc99-80ed99-c7f9cc
.calendar {
  color: white;

  .text-container {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
  h1 {
    color: #38a3a5;
    background: transparent;
    -webkit-text-fill-color: #38a3a5;
  }
  h2 {
  }
  h3 {
    color: white;
    background: linear-gradient(315deg, #38a3a5 10%, #80ed99 90%);
    background-size: 100% 4px;
    background-position: bottom 0 left 0, bottom 8px left 0;
    background-repeat: no-repeat;
    color: #dedede;
  }
  h4 {
  }
  .glowy-button {
    color: #29b6f6; /* Choose a color that fits your design */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
  }

  .glowy-button:hover {
    box-shadow: 0 0 10px #29b6f6, 0 0 20px #29b6f6; /* Glowing effect */
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
}
