.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  h1 {
    text-align: left;
  }
  .image {
    text-align: right;
  }
  .circle {
    width:8px;
    height: 8px;
    margin: 0.1em;
    border-radius: 10px;
    background: linear-gradient(#fe6b8b 30%,#ff8e53 90%);
    display: inline-block;
    box-shadow: 0 1px 7px 3px rgba(255, 105, 135, .2);
  }
  .chips {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 960px) { 
  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    h1, .image {
      text-align: center;
    }
    .chips {
      justify-content: center;
    }
    .icons {
      text-align: center;
      position: relative;
      top: -7em;
    }
    .text {
      text-align: center;
      position: relative;
      top: -7em;
    }
  }
}
