.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 20px;
  max-width: 325px;
  div {
      color: #4b4b4b;
      font-size: 10pt;
      margin: 2px;
    }
}
