.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.subtitle {
  padding: 10px;
    p {
    color: #4b4b4b;
    font-size: 10pt;
    margin: 2px;
  }
}